.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.userName{
  margin: 25px 25px; 
  color: #fff;
  font-weight: bold;
}

.HomeDescr{
  margin: 25px 25px; 
  color: rgb(41,97,148);
  font-weight: bold;
}

.ExpertaText{
  color: rgb(34, 87, 138);
  text-shadow:1px 1px 40px #35ffee;
  color: rgb(63, 80, 97);
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  
}

.MuiContainer-root {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.MuiInputBase-input {
  width: 60vw !important;
}


.MuiGrid-grid-xs-true {
  flex-grow: 0 !important;
}

#reserva-form > div > div:nth-child(2) > div > div {
  width: 526px !important;
  margin-left: -24px !important;
}

#reserva-form > div > div:nth-child(2) > div > label {
  left: -24px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.paperPerfil {
  padding-left: 50pt;
  padding-top: 30pt;
  padding-bottom: 40pt;
}

.divPerfil {
  padding-left: 200pt;
  padding-right: 200pt;
  padding-top: 80pt;
}

.txtTit {
  font-size: x-large;
  margin-top: 25pt;
  font-weight: bold;
}

.txtUsr {
  font-size: large;
  margin-top: 5pt;
}