.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 24vw;
  background-color: #2F4050;
  position: absolute;
  min-width: 200px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}
.SidebarList #active {
  background-color: #293846;

}

.userName{
  margin: 25px 25px; 
  color: #fff;
  font-weight: bold;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  
}

.MuiContainer-root {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.MuiInputBase-input {
  width: 60vw !important;
}

#gerencia {
  width: 240px !important;
}